
{{#if user}}

<h2>Activities</h2>
{{#each activityDb}}
<a href="/description/{{this._id}}"><p>Activity: {{this.activity}}</p></a>
<p>Find: {{this.find}}</p>
<p>From: {{this.from}}</p>
<p>To: {{this.to}}</p>
<p>---------------------------------</p>

{{/each}}

{{/if}}



{{#unless user}}
<h1>Welcome TravelSouls</h1>

{{/unless}}





