<div class="product-details">
    <div class="product-details-card">
    <img src="{{img}}" alt="">
    <h2>{{title}}</h2>
    <h4>Year: {{year}}</h4>
    <h4>Condition: {{condition}}</h4>
    <h3>${{price}}</h3>
    <form action="/catalogue/{{_id}}/add" method="post">
    <button type="submit">ADD TO CART</button>
    </form>
    <p>{{synopsis}}</p>
        <div class="reviews">
            <h2>Reviews</h2>
            {{#each reviewIds}}
            {{content}}
            {{rating}}
            {{/each}}
        </div>
    </div>
</div>