<div class="product-details">
    <div class="product-details-card">
    <img src="{{img}}" alt="">
    <h2>{{title}}</h2>
    <h4>Year: {{year}}</h4>
    <h4>Condition: {{condition}}</h4>
    <h3>${{price}}</h3>
    <a href=""><button>ADD TO CART</button></a>
    <p>{{synopsis}}</p>
        <div class="reviews">
            <h2>Reviews</h2>
                <h3>By: jhon456</h3>
                <h4>⭐️⭐️⭐️⭐️</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae ipsum ut turpis tristique vehicula. Phasellus vitae ornare lorem. Quisque venenatis et nulla nec euismod. Donec vel nibh ut sapien ornare convallis. </p>
        </div>
    </div>
</div>