<h2>{{user.firstName}} Profile</h2>

<img src="{{user.image}}">

<a href="mailto:{{user.email}} ">Contact Me</a>

<h3>Activities</h3>
{{#each userProfile.activityIds}}
<p>{{this.activity}}</p>
<p>{{this.description}}</p>
<p>{{this.find}}</p>
<p>{{this.from}}</p>
<p>{{this.to}}</p>
<a href="/edit/{{this._id}}">Edit activity</a>
<form action="/description/{{this._id}}/delete" method="POST">
    <button>Delete</button>
</form>
{{/each}}


