<div id="spot">
    <div class="spotPic">
        <img src="images/bariloche.webp" alt="">
       
    </div> 
    <a href="/users/{{_id}}/edit">
        <img class="likePic" src="images/like.png" alt="">
    </a>
    <p class="nameSpot">{{fullname}} FullName</p>
    <p class="aboutSpot">About</p>
    <p class="descriptionSpot">{{description}} Only 45mins from Christchurch, on flat sealed roads, 
        at the gateway to Banks Peninsula. $20/adult. Early check in, late check out. Free WIFI. 
        Sheltered campervan sites, 8 with power, tent sites, kitchen, hot showers, toilets. Native 
        birds and bush walks through native forest, have fun on the trampoline/playground & giant swing. 30mins to Akaroa.</p>
    <p class="addressSpot"> Address:{{address}}</p>
    <a class="webLinkSpot" href="/">Web: {{web}}</a>
</div>