<h2>Edit the activity: {{actiDb.description}}</h2>
 
<form action="/edit/{{actiDb._id}}" method="post">
  <label> Activity:
    <input type="text" name="activity" value= "{{actiDb.activity}}" />
  </label>
 

  <label> Description:
    <textarea name="description" cols="30" rows="4">{{actiDb.description}}</textarea>
  </label>
 
     <label> Activity for:
      <input type="radio" name="find" value="couple"  /> Couple
      <input type="radio" name="find" value="group of friends"  /> Group of friends
      <input type="radio" name="find" value="date"  /> Date
      <input type="radio" name="find" value="family"  /> Family
    </label>

    <label> From
      <input type="date" name="from" placeholder="Start" value="{{actiDb.from}}" />
    </label>

    <label> To
      <input type="date" name="to" placeholder="End" value="{{actiDb.to}}" />
    </label>

  <button>Save changes</button>
</form>