
    <h1>{{restaurant.name}}</h1>
    <img src="{{picture}}" />

    <p>{{likes}}</p>
    
    <p>{{restaurant.style}}</p>
    <p>{{restaurant.address}}</p> 
    <p>{{restaurant.phonenumber}}</p>
    <p>{{restaurant.price}}</p>
    <p>{{restaurant.wifi}}</p>
    <p>{{restaurant.coworking}}</p>
    <p>{{restaurant.petfriendly}}</p>
    <p>{{restaurant.delivery}}</p>



    <form action="/restaurants/{{ this.id }}" method="POST">
    <label> Review
            <input type="text" name="review" placeholder="Your review" />
        <button type="submit" name="rate" value="like">like</button>
    </form>

    <form action="/restaurants/{{ this.id }}" method="POST"></form>
        <button type="submit" name="rate" value="dislike">dislike</button>
    </form>

