    <h1>{{this.name}}</h1>
    <img src="{{this.image_url}}"
    <p>{{this.style}}</p>
    <p>{{this.address}}</p> 
    <p>{{this.phonenumber}}</p>
    <p>{{this.price}}</p>
    <p>{{this.wifi}}</p>
    <p>{{this.coworking}}</p>
    <p>{{this.delivery}}</p>
    <p>{{this.instagram}}</p>

    <form action="/restaurants/{{ this.id }}" method="POST">
        <button type="submit" name="rate" value="like">like</button>
        <button type="submit" name="rate" value="dislike">dislike</button>
        <label> Review
            <input type="text" name="review" placeholder="Your review" />
        </label>
    </form>
